.item {
  display: flex;
  align-items: center;

  padding-left: 10px;
  height: 40px;
  width: 200px;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  cursor: pointer;
}
.item:hover{
  background-color: #8cdfff;
}

.divider {
  width: 70%;
  height: 1px;
  margin: 10px 0;

  background-color: black;
}

.icon {
  width: 18px;
  height: 18px;
}

.title {
  margin-left: 10px;

  font-size: 18px;
  font-weight: 500;
}